@use "../global/variables.scss";
@use "../global/mixins.scss";

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: variables.$base-primary;
  background-color: variables.$base-white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  transition: all ease-in-out 0.4s;
  padding: 0;
  cursor: pointer;
}

.pagination__icon {
  fill: variables.$base-primary;
}

.pagination__link:hover {
  color: variables.$base-white;
  background-color: variables.$primary-lighter;
  .pagination__icon {
    fill: variables.$base-white;
  }
}

.pagination__link:focus {
  color: variables.$base-white;
  background-color: variables.$primary-lighter;
  .pagination__icon {
    fill: variables.$base-white;
  }
}

.pagination__link:active {
  color: variables.$base-white;
  background-color: variables.$primary-darker;
  .pagination__icon {
    fill: variables.$base-white;
  }
}

.pagination__link:disabled {
  color: variables.$base-white;
  background-color: variables.$light-grey;
  .pagination__icon {
    fill: variables.$base-white;
  }
}

.pagination__link-text {
  display: none;
}

.pagination__icon--prev {
  transform: rotate(180deg);
}

.pagination__number--active {
  background-color: transparent;
  color: variables.$base-black;
  font-weight: 600;
}

@media (min-width: variables.$width-tablet) {
  .pagination {
    justify-content: flex-end;
  }

  .pagination__icon {
    display: none;
  }

  .pagination__link-text {
    display: inline;
  }

  .pagination__arrow {
    min-width: 150px;
    min-height: 40px;
  }

  .pagination__number--active {
    margin: 0 20px;
  }
}
